<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Articlety</title>
  <link rel="stylesheet" href="<%= assetFingerprint('/stylesheets/styles.css') %>">
  <link rel="icon" type="image/png" href="../images/favicon.ico" />
</head>

<body>
  <header class="header">
    <div class="container">
      <a href="/" class="logo"></a>
      <ul class="menu">
        <li>
          <a href="#">О нас</a>
          <a href="#">Правила размещения</a>
        </li>
      </ul>
    </div>
  </header>